<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">Создание книги</h2>
    <!-- {{book-form actionSaveBook=(action "createBook") book=model}} -->
    {{book-form onsubmit=(action "createBook") book=model}}
  </div>
</div>